<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.avinashdavid.readitforreddit"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:name=".ReaditApp"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppThemeDark">
        <meta-data android:name="net.dean.jraw.REDDIT_USERNAME" android:value="avitaker" />
        <meta-data android:name="android.max_aspect"
                   android:value="2.1"/>
        <meta-data
            android:name="DATABASE"
            android:value="widget_posts.db"/>
        <meta-data
            android:name="VERSION"
            android:value="12"/>
        <meta-data
            android:name="DOMAIN_PACKAGE_NAME"
            android:value="com.avinashdavid.readitforreddit"/>

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <service
            android:name=".NetworkUtils.GetListingsService"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.BIND_JOB_SERVICE"/>
        <service android:name=".NetworkUtils.GetCommentsService"/>
        <service android:name=".NetworkUtils.GetSubredditsService"/>

        <activity
            android:name=".CommentsActivity"
            android:parentActivityName=".MainActivity">
        </activity>

        <receiver
            android:name=".Widget.SubredditWidgetProvider"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
                <action android:name="com.avinashdavid.readitforreddit.BROADCAST_SUBREDDIT"/>
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_provider_subreddit"/>
        </receiver>

        <service
            android:name=".Widget.SubredditWidgetRemoteViewsService"
            android:permission="android.permission.BIND_REMOTEVIEWS"/>
        <service android:name=".NetworkUtils.CheckNewSubredditService"/>
        <service android:name=".NetworkUtils.GetSubredditInfoService"/>
        <service android:name=".NetworkUtils.GetMorechildrenService"/>
        <service android:name=".User.GetUserCommentsService"/>
        <service android:name=".User.GetUserAboutService"/>
        <service android:name=".User.GetUserOverviewService"/>

        <activity
            android:name=".ManageSubredditsActivity"
            android:label="@string/title_activity_manage_subreddits"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.avinashdavid.readitforreddit.MainActivity"/>
        </activity>

        <activity android:name=".User.UserHistoryActivity"/>

        <activity android:name=".UI.AppSettingsActivity"
            android:label="@string/title_app_settings"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.avinashdavid.readitforreddit.MainActivity"/>
        </activity>
    </application>

</manifest>